body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 10%;
  font-size: 1.18rem;
}

h3 {
  color: #333;
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffcc00;
  text-decoration: none;
}
