body {
  background-image: url('dark_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 10%;
  font-size: 1.15rem;
  color: #ebebd3;
}

h3 {
  color: #fafdf6;
  font-style: italic;
}

a {
  font-size: 1.3rem;
  color: #cbe896;
  text-decoration: none;
}

a:hover {
  color: #ddd92a;
  text-decoration: none;
}
